# Sensitive variable files
*.tfvars
*.tfvars.json

# Local .terraform directories
.terraform/

# Terraform lock file
# This one you DO want to keep!
!.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files (user-specific)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# Environment select info
.terraform/environment

## Ansible
# Ignore Ansible log files
*.log

# Ignore Ansible retry files (created on failed runs)
*.retry

# Ignore Ansible Vault password files
*vault*
*.key

# Ignore fact caching directories
facts.d/

## General / OS
# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db