# Sensitive variable files
*.tfvars

# Local .terraform directories
.terraform/

# Terraform lock file
# This one you DO want to keep!
!.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files (user-specific)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# Environment select info
.terraform/environment
