api:
  insecure: true # Enables the Traefik dashboard

# Enable Logging and configure the Access Log in JSON format
log:
  level: INFO
accessLog:
  filePath: "/var/log/traefik/access.log"
  format: "json"

# Explicitly enable Prometheus metrics and assign to an entrypoint
metrics:
  prometheus:
    entryPoint: "traefik"

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
  websecure:
    address: ":443"

  traefik:
    address: ":8080"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ observability_config.acme_email }}"
      storage: "acme.json"
      httpChallenge:
        entryPoint: "web"